HOST=0.0.0.0
PORT=8080
PDF_ENGINE=gotenberg
PDF_PROFILE_DEFAULT=portable
GOTENBERG_URL=http://gotenberg:3000
STORAGE_ROOT=/data
PDF_COMPARE_ENABLED=0
PDF_COMPARE_REFERENCE_ENGINE=
REMOTE_WORD_URL=
REMOTE_WORD_API_KEY=
REMOTE_WORD_API_KEY_HEADER=Authorization
REMOTE_WORD_FILE_FIELD=file
REMOTE_WORD_FILENAME_FIELD=
REMOTE_WORD_FORMAT_FIELD=
REMOTE_WORD_EXTRA_FORM_JSON=
